<header class="header">
  <div class="container header__container">
    <div class="header__wrapper">
      <img class="header__logo" src="./img/svg/logo.svg" alt="Логотип gOST" />
      <form class="header__form search" action="">
        <input class="search__input" type="search" name="search" />
        <button class="search__submit"><img src="./img/svg/search.svg" alt="" /></button>
      </form>
      <button class="header__favourite"><img src="./img/svg/favourite.svg" alt="" /></button>
    </div>
  </div>
</header>
